* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-purple-rain: #734cce;
  --color-grilled-cheese: #ffc15e;
}

*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
header,
footer,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  font-family: "Gilroy";
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Cinzel;
  font-display: swap;
  src: url("../fonts/Cinzel-Regular.woff2") format("woff2"), url("../fonts/Cinzel-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: suissnord;
  font-display: swap;
  src: url("../fonts/suissnord.woff2") format("woff2"), url("../fonts/suissnord.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #17171D;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper main {
  width: 100%;
  height: 100%;
}

.wrapper main .container-greetings {
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow {
  position: absolute;
  z-index: 2;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 0px 0px var(--color-grilled-cheese);
          box-shadow: 0px 0px 0px 0px var(--color-grilled-cheese);
  border: 1px solid #48475b;
  border-radius: 53% 47% 32% 68%/51% 44% 56% 49%;
  -webkit-animation: rotation 6s linear infinite;
          animation: rotation 6s linear infinite;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow::before {
  content: "";
  position: absolute;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  width: 250px;
  height: 250px;
  border: 1px solid #2d2d39;
  border-radius: 35% 65% 33% 67%/60% 20% 80% 40%;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow::after {
  content: "";
  position: absolute;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border: 1px solid #62617d;
  border-radius: 57% 43% 51% 49%/39% 44% 56% 61%;
  background-color: #2f2f3a;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow:hover {
  border: 1px solid var(--color-grilled-cheese);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0px 0px 10px 5px var(--color-grilled-cheese);
          box-shadow: 0px 0px 10px 5px var(--color-grilled-cheese);
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow:hover::before {
  content: "";
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow:hover::after {
  content: "";
  border: 1px solid var(--color-purple-rain);
  background-color: transparent;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__logo img {
  position: absolute;
  z-index: 1;
  top: calc(50% - 90px);
  left: calc(50% - 90px);
  width: 180px;
  height: 180px;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 50%;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-purple-rain);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:first-of-type p,
.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p {
  font-family: "SFProDisplay";
  letter-spacing: 2px;
  font-weight: 100;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:first-of-type p:first-child,
.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p:first-child {
  font-family: "suissnord";
  color: #17171D;
  font-size: 3em;
  margin: 0 0 1em 0;
  -webkit-filter: drop-shadow(-1px 0 0 var(--color-purple-rain)) drop-shadow(1px 0 0 var(--color-purple-rain)) drop-shadow(0 -1px 0 var(--color-purple-rain)) drop-shadow(0 1px 0 var(--color-purple-rain));
          filter: drop-shadow(-1px 0 0 var(--color-purple-rain)) drop-shadow(1px 0 0 var(--color-purple-rain)) drop-shadow(0 -1px 0 var(--color-purple-rain)) drop-shadow(0 1px 0 var(--color-purple-rain));
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:first-of-type p a,
.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p a {
  font-family: "SFProDisplay";
  letter-spacing: 2px;
  font-weight: 100;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type {
  text-align: center;
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p a {
  color: var(--color-purple-rain);
}

.wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type a span {
  position: absolute;
  top: 90%;
  left: calc(50% - 15px);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 30px;
  height: 30px;
  border-bottom: 2px solid var(--color-purple-rain);
  border-right: 2px solid var(--color-purple-rain);
  z-index: 9;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: fade_move_down 1.5s ease-in-out infinite;
          animation: fade_move_down 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -30px) rotate(45deg);
            transform: translate(0, -30px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 30px) rotate(45deg);
            transform: translate(0, 30px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -30px) rotate(45deg);
            transform: translate(0, -30px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 30px) rotate(45deg);
            transform: translate(0, 30px) rotate(45deg);
    opacity: 0;
  }
}

@media only screen and (max-width: 767.98px) and (orientation: portrait) {
  body .wrapper {
    max-width: 767.98px;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow {
    border: 1px solid var(--color-grilled-cheese);
    -webkit-box-shadow: 0px 0px 10px 5px var(--color-grilled-cheese);
            box-shadow: 0px 0px 10px 5px var(--color-grilled-cheese);
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow::before {
    content: "";
    opacity: 0;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow::after {
    content: "";
    border: 1px solid var(--color-purple-rain);
    background-color: transparent;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item {
    width: 100%;
    height: 40%;
    text-align: center;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p:first-child {
    font-size: 2em;
  }
}

@media only screen and (max-width: 479.98px) and (orientation: portrait) {
  body .wrapper {
    max-width: 479.98px;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__logo img {
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p:first-child {
    font-size: 2em;
  }
}

@media only screen and (max-width: 379.98px) and (orientation: portrait) {
  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:first-of-type p {
    font-size: 14px;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:first-of-type p:first-child {
    font-size: 2em;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p {
    font-size: 14px;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p:first-child {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  body .wrapper {
    max-width: 991.98px;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow {
    border: 1px solid var(--color-grilled-cheese);
    -webkit-box-shadow: 0px 0px 10px 5px var(--color-grilled-cheese);
            box-shadow: 0px 0px 10px 5px var(--color-grilled-cheese);
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow::before {
    content: "";
    opacity: 0;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container-greetings__glow::after {
    content: "";
    border: 1px solid var(--color-purple-rain);
    background-color: transparent;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item {
    width: 100%;
    height: 40%;
    text-align: center;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p:first-child {
    font-size: 2em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  body .wrapper {
    max-width: 1199.98px;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item {
    width: 40%;
    text-align: center;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:first-of-type p,
  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p {
    font-size: 14px;
  }

  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:first-of-type p:first-child,
  body .wrapper main .container-greetings .container-greetings__link-to-portfolio .container__items .container__item:last-of-type p:first-child {
    font-size: 2em;
  }
}